.profile-block-container {
  position: relative;
  margin: 1rem;
}

.profile-info-container {
  background-color: var(--profile-background);
  position: absolute;
  inset: 0 0 33%;
  border-radius: 1rem;
  z-index: 1;
}

.profile-info-container img {
  border: 3px solid white;
  border-radius: 50%;
  max-width: 40%;
  max-height: 90%;
  aspect-ratio: 1/1;
}

.profile-info-container div p {
  opacity: .6;
  margin-bottom: 0;
  margin-top: 30px;
}

.profile-info-container div h1 {
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 8px;
}

.button-container {
  background-color: var(--tile-background);
  border-radius: 1rem;
  padding: 2rem 2rem 1rem;
  position: absolute;
  inset: 63% 0 0 0;
  display: flex;
  align-items:start;
}