@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --background-color: hsl(226 43% 10%);
  --tile-background: hsl(235 46% 20%);
}

body {
  font-family: Rubik, sans-serif;
  background-color: var(--background-color);
}

.App {
  position: absolute;
  inset: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activities-block-container {
  width: 75%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}